<html>
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/content.css">
    <link rel="stylesheet" type="text/css" href="/CSS/backgroundClass.css">
    <link rel="stylesheet" type="text/css" href="/CSS/clouds.css">
    <title><%= title %></title>

</head>
<body class="<%= backgroundClass %>">


<div class="content">
    <h1><%= city %></h1>
    <h1><%= temperature %>째C</h1>
    <h1><%= mainData %> (<%= mainDescription %>)</h1>
    <h1>Feels like: <%= feelsTemp %>째C</h1>
    <h1>The speed of the wind is: <%= wind %></h1>
    <h1>The maximum temperature for the day is <%= maxTemp %>째C and the minimum <%= minTemp %>째C</h1>
</div>

</body>
</html>
