<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1> <%= mainData%> (<%=mainDescription%>)</h1>
<h1 >Temperature is <%=temperature%>째C and it feels like <%=feelsTemp%>째C</h1>
<h1 >The maximum temperature for the day is <%=maxTemp%>째C and the minimum <%=minTemp%>째C</h1>
<h1>The speed of the wind is: <%= wind%></h1>


</body>
</html>
